<template>

    <v-container>
     <v-alert
      border="top"
      color="red lighten-2"
      v-if="message"
      dark
    >
      {{message}}
    </v-alert>
    <h2>Login</h2>
        <v-form @submit.prevent="login">
          <v-row>
            <v-col
                cols="12"
                sm="6"
            >
            <v-text-field
            label="E-mail"
            v-model="form.email"
            type="email"
            required
            ></v-text-field>

            <v-text-field
            label="Password"
            v-model="form.password"
            type="password"
            required
            ></v-text-field>
            </v-col>
            </v-row>
            <v-btn
            color="green"
            type="submit"
            >Login</v-btn>

            <router-link to="/films/signup">
                <v-btn color="blue">Sign Up</v-btn>
            </router-link>
        </v-form>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            form :{
                email:null,
                password:null
            },
             message:null
        }
    },
    created(){
        if(User.loggedIn()){
            this.$router.push({name:'films'})
        }
    },
    methods:{
        login(){
            if(this.form.email==null || this.form.password==null)
            {
             this.message="Email and password cannot be blank"
             }else{
        
        axios
            .post("/api/auth/login", this.form)
            .then(res => {
               
                if(res.status==200){
                User.responseAfterLogin(res)
                }else{
                
                 this.message=res.data.message
                }
             })
            .catch(error =>{ 
                
                this.message="Error authenticating"
                }); 

             }
        }
        }
    
}
</script>

<style>

</style>
