<template>
  <div>
    <toolbar></toolbar>
    <router-view></router-view>
  </div>
</template>

<script>
import toolbar from './Toolbar'


export default {
  components:{toolbar},
  data () {
    return {
      films: null,

    }
  },

  created () {
    axios
      .get('/api/films')
      .then(response => {
        this.films= response.data.data
        console.log(this.films)
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
}
</script>

<style>
</style>
