<template>
 
    <div class="container">
    <h2>Comments</h2>
        <comment 
        v-for="(comment,index) in content.data" 
        :key="comment.id"
        :index=index
        :data="comment"></comment>
         
        </div>
        
    </div>
     
  
</template>

<script>
import Comment from './Comment'
export default {
    props:['film'],
    data(){
        return{
            content:this.film.comments
        }
    },
    components:{Comment},
    created(){
     
        this.listen()
        this.fetchCommentsByFilm(this.film.slug)
    },
    methods:{
        listen(){
            EventBus.$on('newComment',(comment) => {
                
                this.content.data.unshift(comment)
            })

           
        },
        fetchCommentsByFilm(slug)
        {
         

       axios.get(`/api/films/${slug}/comments`)
      .then(res => {
         this.content= res.data

        })
      .catch(error => console.log(error.response.data))
    },
    }

}
</script>

<style>
</style>
