<template>
  <div class="mt-3">
      <v-card>
          <v-card-title>
              <div class="headline">{{data.user}}</div>
             <div class="ml-2">said {{data.created_at}}</div>

          </v-card-title>
          <v-divider></v-divider>

        
          <v-card-text  v-html="comment"></v-card-text>

        <v-divider></v-divider>
        
      </v-card>
  </div>
</template>

<script>

export default {
    props:['data','index'],
    components:{},
    data(){
        return {
         
        }
    },
    computed:{
     
        
        comment(){
            return this.data.comment
        }
    },
    created(){
     
    },
    methods:{
       
    }

}
</script>

<style>

</style>
