<template>
  <v-container>
  <h2>Create Film</h2>
        <v-form @submit.prevent="createFilm">
         <v-row>
            <v-col
                cols="12"
                sm="6"
            >
            <v-text-field
            label="Name"
            v-model="form.name"
            type="text"
            required
            ></v-text-field>
         
             <span class="red--text" v-if="errors.name">{{errors.name[0]}}</span>

            
            <v-textarea
            label="Description"
            v-model="form.description"
            required
            ></v-textarea>
            <span class="red--text" v-if="errors.description">{{errors.description[0]}}</span>

            <v-text>Release Date</v-text>
            <v-date-picker v-model="form.release_date"></v-date-picker>

            <span class="red--text" v-if="errors.release_date">{{errors.release_date[0]}}</span>
            
            <v-radio-group v-model="form.rating" label=" Select Rating Below">
            <v-radio
             v-for="n in 5"
             :key="n"
             :label="`${n}`"
              :value="n"
              :color="blue"
             ></v-radio>
    </v-radio-group>
           

           <v-text-field
            label="Ticket Price"
            v-model="form.ticket_price"
            type="number"
            required
            ></v-text-field>
       
          <v-select
            v-model="genre_ids"
            :items="genres"
            attach
            label="Genres"
            multiple
          ></v-select>
     
            <label>Photo</label><input type="file" @change="photoChanged"  label="Photo" />
            </v-col>
           </v-row>
            <v-btn
            color="green"
            type="submit"
            >Create</v-btn>

            
        </v-form>
    </v-container>
</template>

<script>
export default {

    data(){
        return {
            form :{ 
                name:null,
                description:null,
                release_date:null,
                rating:null,
                country:null,
                genres:[],
                 genre_ids:[],
                ticket_price:null,
                photo:null

            },
            errors:{}
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
    },
    methods:{
        createFilm(){
            axios.post('/api/films',this.form)
            .then(res => {
             
                this.$router.push({name:'films'})
                })
            .catch(error => this.errors = error.response.data.errors)
        }
    }
}
</script>

<style>

</style>
