<template>
  <div>
 
    <v-container class="grey lighten-5">
    <v-row no-gutters>
      <v-col
        v-for="film in films"
        :key="film.id"
        cols="12"
        sm="3"
      >
        <v-card
          class="pa-2"
          outlined
          tile
        >
        <v-col align="center" justify="center">

         <router-link :to="film.path">

          <v-img
            :src="film.photo"
            aspect-ratio="1"
            class="grey lighten-2"
            max-width="250"
            max-height="150"
          ></v-img>
        </router-link>
        <v-card-title>{{film.name}}  </v-card-title>

        <p>Ticket Price: N{{film.ticket_price}}</p>
           <p>Rating: {{film.rating}}</p>
         </v-col>
          
          
           
        </v-card>
      </v-col>
    </v-row>
  </v-container>
 
  </div>
</template>

<script>
export default {

  data () {
    return {
      films: null,

    }
  },

  created () {
    axios
      .get('/api/films')
      .then(response => {
        this.films= response.data.data
        console.log(this.films)
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })

  }
}
</script>

<style>
</style>
