<template>
    <div class="mt-4">
        <h2>Post a comment</h2>
         <v-alert
      border="top"
      color="red lighten-2"
      v-if="message"
      dark
    >
      {{message}}
    </v-alert>
        <v-textarea v-model="comment"></v-textarea>
        <v-btn dark color="green" @click="submit">
            Comment
        </v-btn>
    </div>
</template>

<script>
export default {
    props:['film'],
    data(){
        return {
            comment:null,
            slug:null,
            message:null
        }
    },
    created(){
        this.slug=this.film.slug
        
    },
    methods:{
        submit(){
            
            axios.post(`/api/films/${this.slug}/comments`,{comment:this.comment,film_id:this.film.id})
            .then(res => {
                this.message=''
                this.comment = ''
                EventBus.$emit('newComment',res.data)
              
            }).catch(error => {
                this.message=error.response.data.message
                })
        }
    }
}
</script>

<style>

</style>
