<template>
    <v-card>
        <v-container fluid>
        <v-row>
         <v-col>
         <v-card-title>
            <div>
                <div class="headline">
                    {{data.name}}
                </div>
            </div>
            
        </v-card-title>
        <v-img
            :src="data.photo"
            aspect-ratio="1"
            class="grey lighten-2"
            max-width="250"
            max-height="150"
          ></v-img>
        
        </v-col>
        <v-card-text >{{data.description}}</v-card-text>
        
        <v-card-text >Genre:{{data.genres}}</v-card-text>
        <v-card-text >Ticket Price:N{{data.ticket_price}}</v-card-text>
        <v-card-text >Rating:{{data.rating}}</v-card-text>
         <v-card-text >Release Date:{{data.release_date}}</v-card-text>
          <v-card-text >Country:{{data.country}}</v-card-text>
        
        </v-row>
       
        </v-container>
    </v-card>
</template>


<script>

export default {
   
    props:['data'],
    data(){
        return {

        }
    },
    computed:{
        description(){
           return this.data.description
        }
    },
    
    beforeCreate(){
     
  },
    created(){
      

   
            
    },
    methods:{
        
    }
}
</script>

<style>

</style>
