<template>
 <v-container>
 
<div v-if="film">

        <show-film

            :data = "film"
            ></show-film>

        <v-container>
          <comments :film="film"></comments>
           <new-comment v-if="loggedIn" :film="film"></new-comment>
           <div class="mt-4" v-else >
            <router-link 
                v-for="item in items"
                :key="item.title"
                :to="item.to"
                v-if="item.show">
                    <v-btn depressed small color="primary">{{item.title}}</v-btn>

      </router-link>

            </div>
       </v-container>
    </div>  
     </v-container>  
</template>

<script>
import ShowFilm from './ShowFilm'
import Comments from './Comments'
import NewComment from './NewComment'

export default {
    components:{ShowFilm,Comments,NewComment},
    data(){
        return {
            film:null,
             expiredLink:null,
             items: [
                { title: "Login to Comment", to: "/films/login", show: true }
            ]
               }
    },
    created(){

      
        this.getFilm()

    },
    computed:{
        loggedIn(){
            return User.loggedIn()
        }
    },
    methods:{
       
        getFilm(){
           
            axios.get(`/api/films/${this.$route.params.slug}`)
            .then(res => {
                this.film = res.data.data
            
                })
            .catch ((error)=>{
			});
               
        }
    }
}
</script>

<style>

</style>
