<template>
  <v-toolbar color="indigo" dark>
    <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
    <v-toolbar-title>
      <router-link class="white--text" to="/films">Films</router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>

    <div class="hidden-sm-and-down">

      <router-link 
      v-for="item in items"
      :key="item.title"
      :to="item.to"
       v-if="item.show">
        <v-btn depressed small color="primary">{{item.title}}</v-btn>

      </router-link>

    </div>
  </v-toolbar>
</template>

<script>

export default {

  data() {
    return {
     items: [
        { title: "Home", to: "/films", show: true },
        { title: "Create", to: "/create", show: User.loggedIn() },
        { title: "Login", to: "/films/login", show: !User.loggedIn() },
          { title: "Sign Up", to: "/films/signup", show: !User.loggedIn() },
        { title: "Logout", to: "/films/logout", show:User.loggedIn() }
      ]
    };
  },
  mounted()
  {
     
  },
  created() {

   EventBus.$on("logout", () => {
      User.logout();
    });
  }
};
</script>

<style>
a { 
   text-decoration: none;
  color:#fff !important;
}
</style>
